{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fayol Ateufack</title>
</head>
<body>
    <h1>Fayol Ateufack</h1>
    
    <!--     <p>This is where you can find information about the blog.</p>
    
    <div class="research-papers">
        <h2> Research Papers </h2>
        <div class="item">
            <h3> Car Tracking </h3>
            <div>
                <img src="{% static 'blog/images/parking_cover.png' %}" alt="Car Tracking Research" width="200">
            </div>
            <a href="https://arielfayol.com/papers/download/car_tracking"> Tracking </a>
        </div>

        <div class="item">
            <h3> Parking </h3>
            <div>
                <img src="images/parking_paper.jpg" alt="Parking Research" width="200">
            </div>            
            <a href="https://arielfayol.com/papers/download/parking_paper"> Parking </a>
        </div>

        <div class="item">
            <h3> Genetic Algorithm </h3>
            <div>
                <img src="images/genetic_algorithm.jpg" alt="Genetic Algorithm Research" width="200">
            </div>             
            <a href="https://arielfayol.com/papers/download/lattice_paths"> Lattice Paths </a>
        </div>
    </div>

    <div class="nlp-projects">

    </div>

    <div class="web-projects">
-->

    </div>

</body>
</html>